@model IEnumerable<Football.PL.Models.PlayerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Список игроков</h2>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
<br />
<br />
@using (Html.BeginForm("Index", "Player", FormMethod.Get, new { @class = "form form-vertical searchform" }))
{

     <span>Пошук</span> @Html.TextBox("searching", ViewBag.Search as string, new { @class = "form-control" })
    <input type="submit" value="Шукати" class="btn btn-primary"/><br />
}
<table class="table">

    <tr>
        <th>
            @Html.ActionLink("Имя", "Index", new { sortBy = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Фамилия", "Index", new { sortBy = ViewBag.SurnameSort})
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>